
.headerMiddleIcons{
    display: flex;
    
}
.headerMiddleIcons:hover{
    background-color: #F0F2F5;
    cursor: pointer;
    border-radius: 10px;
    

}
.haaderMiddleIcon{
    margin: 7px 30px;
}